<h2>Administrator Login</h2>
<div class="box" id="loginbox">
	<div class="errorbox error"><?php echo (isset($error)? $error:"");?></div>
	<form action="" method="post">
		<!-- <input type="hidden" name="returnUrl" value="<?php echo $returnUrl ?>"> -->
		<div class="form-group">
			<label for="email" class="form-control">Email</label>
			<?php create_form_input("email", "email", $errors, 'POST', 'class="form-control" placeholder="Please enter the email"') ?>
		</div>
		<div class="form-group">
			<label for="password" class="form-control">Password</label>
			<?php create_form_input("password", "password", $errors, 'POST', 'class="form-control" placeholder="Please enter the password"') ?>
		</div>
		<div class="form-group">
			<input type="submit" id="btnLogin" name="btnLogin" value="Login" class="btn" />	
		</div>
	</form>
</div>